html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
}

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;
}
.hero .wrapper {
  max-width: 1366px;
  height: 100%;
  margin: auto;
}
.hero .wrapper .textContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
@media (max-width: 738px) {
  .hero .wrapper .textContainer {
    height: 50%;
    width: 100%;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
}
.hero .wrapper .textContainer h2 {
  font-size: 30px;
  color: rebeccapurple;
  letter-spacing: 10px;
}
.hero .wrapper .textContainer h1 {
  font-size: 88px;
}
@media (max-width: 738px) {
  .hero .wrapper .textContainer h1 {
    font-size: 36px;
  }
}
.hero .wrapper .textContainer .buttons button {
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  margin-right: 20px;
  cursor: pointer;
  font-weight: 300;
}
.hero .wrapper .textContainer img {
  width: 50px;
}
.hero .imageContainer {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 738px) {
  .hero .imageContainer {
    height: 50%;
    width: 100%;
    top: unset;
    bottom: 0;
  }
}
.hero .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero .slidingTextContainer {
  position: absolute;
  font-size: 30vh;
  bottom: -20px;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.0352941176);
  width: 50%;
  font-weight: bold;
  margin-right: 20px;
}