html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
}

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 738px) {
  .contact {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }
}
.contact .textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 738px) {
  .contact .textContainer {
    gap: 20px;
    text-align: center;
    align-items: center;
    margin-top: 70px;
  }
}
.contact .textContainer h1 {
  font-size: 100px;
  line-height: 88px;
}
@media (max-width: 738px) {
  .contact .textContainer h1 {
    font-size: 36px;
  }
}
.contact .textContainer span {
  font-weight: 300;
}
.contact .formContainer {
  flex: 1;
  position: relative;
}
@media (max-width: 738px) {
  .contact .formContainer {
    padding: 50px;
    width: 100%;
  }
}
.contact .formContainer .phoneSvg {
  stroke: orange;
  position: absolute;
  margin: auto;
  z-index: -1;
}
.contact .formContainer form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact .formContainer form input,
.contact .formContainer form textarea {
  padding: 20px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
}
@media (max-width: 738px) {
  .contact .formContainer form input,
  .contact .formContainer form textarea {
    padding: 10px;
  }
}
.contact .formContainer form button {
  padding: 20px;
  border: none;
  background-color: orange;
  cursor: pointer;
  font-weight: 500;
}
@media (max-width: 738px) {
  .contact .formContainer form button {
    padding: 10px;
  }
}